Simple.Converter.AutoMapper/*.aps
Simple.Converter.AutoMapper/*.eto
Simple.Converter.AutoMapper/*.user
Simple.Converter.AutoMapper/[Bb]in
Simple.Converter.AutoMapper/[Dd]ebug
Simple.Converter.AutoMapper/[Rr]elease
Simple.Converter.AutoMapper/obj
